@tailwind base;
@tailwind components;
@tailwind utilities;


button {
    touch-action: manipulation;
}


body {
    @apply bg-neutral-900
}


.allow-select {
    user-select: text !important;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Start below the final position */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* End at the final position */
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        z-index: -2;
        /* Start below the final position */
    }

    50% {
        opacity: 0;
        z-index: 10;

        /* End at the final position */
    }


    62.5% {
        opacity: 1;
        z-index: 10;
        /* End at the final position */
    }

    70% {
        opacity: 1;
        z-index: 10;
        /* End at the final position */
    }

    99.9% {
        opacity: 0;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: -2;
    }
}

@supports not (height: 100dvh) {
    .w-dvw {
        width: 100vw;
    }

    .h-dvh {
        height: 100vh;
    }
}



@keyframes blink-caret {

    0% {
        opacity: 0;
    }


    0.1% {
        opacity: 1;
    }


    50% {
        opacity: 1;
    }


    50.1% {
        opacity: 0;
    }


    100% {
        opacity: 0;
    }


}