@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes blink-caret {

    0% {
        border-color: black,
    }


    0.1% {
        border-color: #4AF626;
    }


    50% {
        border-color: #4AF626;
    }


    50.1% {
        border-color: black,
    }


    100% {
        border-color: black,
    }


}