@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes blink-caret {

    0% {
        opacity: 0;
    }


    0.1% {
        opacity: 1;
    }


    50% {
        opacity: 1;
    }


    50.1% {
        opacity: 0;
    }


    100% {
        opacity: 0;
    }


}